@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap');

@layer base{
    li{
        @apply px-4
        cursor-pointer
    }
}
.content-div{
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 250px;
}
.content-div:hover{
    background-image: linear-gradient(
        to right,
        rgba(112, 157, 255, 0.8),
        hsla(242, 74%, 61%, 0.8)
    )!important;
}
form{
    padding-left: 5px;
    padding-right: 5px;
}